@model CaglarDurmus.ShoppingApi.MvcWebUI.Models.CartSummaryViewModel

<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
    @foreach (var item in Model.Cart.CartLines)
    {
        <a class="dropdown-item">@item.Product.ProductName <span class="badge badge-pill badge-primary" style="padding-right: inherit;">@item.Quantity</span></a>

    }
    <div class="dropdown-divider"></div>

    <a class="dropdown-item"><strong style="padding-right: inherit;">Total:</strong>@Model.Cart.Total $</a>

    <div class="dropdown-divider"></div>

    <a class="dropdown-item" asp-controller="Cart" asp-action="List"><span class="fas fa-info" style="padding-right: inherit;"></span>Go to cart details</a>
</div>

